{% extends 'base.html.twig' %}

{% block title %}Connexion - Marn'Eat{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="form__container">
    <form method="post" class="form__login">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="form__login-title">Se connecter</h1>
        <label for="inputUsername">Votre pseudo</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus placeholder="Votre pseudo">
        <label for="inputPassword">Votre mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Votre mot de passe">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="form__login-button" type="submit">
            Connexion
        </button>
    </form>
</div>
{% endblock %}
