{% extends 'base.html.twig' %}

{% block title %}Ajout d'un commentaire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/recipe-form.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/recipe.js') }}"></script>
{% endblock %}


{% block body %}
    <div class="block">
        <div class="arrow-backProfil" title="Retour à la page profil">
            <a href="{{ path('app_recipe_show', {id : recipe.id}) }}"><i class="fa-light fa-circle-arrow-left"></i></a>
        </div>
        <div class="recipe__addComment">
            <h1 class="recipe__addComment-title">Votre avis sur la recette {{ recipe.nomRecette }}</h1>
            {{ form_start(form) }}
                {{ form_row(form.textComm, {'label': 'Racontez nous'})}}
                {{ form_row(form.submit, {'label': 'Envoyer', 'attr': {'class': 'btn btn-success w-100 p-3  '}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
