{% extends 'base.html.twig' %}

{% block title %} Marn'Eat : {{ recipeSubCategory.libSousCategorieRecette | capitalize}} {% endblock %}

{% block stylesheets%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/subCategory.css') }}">
    <link rel="stylesheet" href="{{ asset('css/pagination.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="recipeSubCategory__header">
        <h1 class="recipeSubCategory__header-title">  {{ recipeSubCategory.libSousCategorieRecette | capitalize }}</h1>
    </div>
    <div class="recipeSubCategory__list">
    {% for recipe in recipes %}
        <div class="recipeSubCategory__recipe">
            <a href="{{ path('app_recipe_show', {id: recipe.id}) }}">
                {% if recipe.affiche is not null %}
                    <img src="data:image/png;base64, {{ image(recipe.affiche) }}" alt="image_ingredient" class="image_recette" >
                {% else %}
                    <img src="{{ asset('img/default-recipe.png') }}" alt="Image de la recette">
                {% endif %}
                <h2>{{ recipe.nomRecette }}</h2>
            </a>
        </div>
    {% endfor %}
    </div>

    {# Condition si tous les items générés ne font qu'une page, on affiche pas la barre de navigation des n° de pages #}
    {% if recipes.getTotalItemCount() > recipes.getItemNumberPerPage() %}
        <div class="custom-pagination">
            <p>{{ knp_pagination_render(recipes) }}</p>
        </div>
    {% endif %}
{% endblock %}
